#Disable slabs you want by replacing 'true' with 'false' right next to the equals sign.
#Disable some functions from the mod by replacing 'true' with 'false' right next to the equals sign.

#Permission keys
stone_slab=true
granite_slab=true
polished_granite_slab=true
diorite_slab=true
polished_diorite_slab=true
andesite_slab=true
polished_andesite_slab=true
grass_slab=true
dirt_slab=true
coarse_dirt_slab=true
podzol_slab=true
cobblestone_slab=true
oak_planks_slab=true
spruce_planks_slab=true
birch_planks_slab=true
jungle_planks_slab=true
acacia_planks_slab=true
dark_oak_planks_slab=true
bedrock_slab=true
sand_slab=true
red_sand_slab=true
gravel_slab=true
gold_ore_slab=true
iron_ore_slab=true
coal_ore_slab=true
oak_wood_slab=true
spruce_wood_slab=true
birch_wood_slab=true
jungle_wood_slab=true
oak_leaves_slab=true
spruce_leaves_slab=true
birch_leaves_slab=true
jungle_leaves_slab=true
sponge_slab=true
wet_sponge_slab=true
glass_slab=true
lapis_lazuli_ore_slab=true
lapis_lazuli_slab=true
sandstone_slab=true
chiseled_sandstone_slab=true
smooth_sandstone_slab=true
white_wool_slab=true
orange_wool_slab=true
magenta_wool_slab=true
light_blue_wool_slab=true
yellow_wool_slab=true
lime_wool_slab=true
pink_wool_slab=true
gray_wool_slab=true
light_gray_wool_slab=true
cyan_wool_slab=true
purple_wool_slab=true
blue_wool_slab=true
brown_wool_slab=true
green_wool_slab=true
red_wool_slab=true
black_wool_slab=true
gold_slab=true
iron_slab=true
brick_slab=true
mc_stone_slab=true
tnt_slab=true
bookshelf_slab=true
mossy_cobblestone_slab=true
obsidian_slab=true
diamond_ore_slab=true
diamond_slab=true
redstone_ore_slab=true
ice_slab=true
snow_slab=true
clay_slab=true
netherrack_slab=true
soul_sand_slab=true
glowstone_slab=true
white_stained_glass_slab=true
orange_stained_glass_slab=true
magenta_stained_glass_slab=true
light_blue_stained_glass_slab=true
yellow_stained_glass_slab=true
lime_stained_glass_slab=true
pink_stained_glass_slab=true
gray_stained_glass_slab=true
light_gray_stained_glass_slab=true
cyan_stained_glass_slab=true
purple_stained_glass_slab=true
blue_stained_glass_slab=true
brown_stained_glass_slab=true
green_stained_glass_slab=true
red_stained_glass_slab=true
black_stained_glass_slab=true
stone_brick_slab=true
mossy_stone_brick_slab=true
cracked_stone_brick_slab=true
chiseled_stone_brick_slab=true
red_mushroom_slab=true
brown_mushroom_slab=true
red_mushroom_stem_slab=true
brown_mushroom_stem_slab=true
mycelium_slab=true
nether_brick_slab=true
end_stone_slab=true
redstone_lamp_slab=true
emerald_ore_slab=true
emerald_slab=true
nether_quartz_ore_slab=true
redstone_slab=true
nether_quartz_slab=true
chiseled_nether_quartz_slab=true
nether_quartz_pillar_slab=true
white_hardened_clay_slab=true
orange_hardened_clay_slab=true
magenta_hardened_clay_slab=true
light_blue_hardened_clay_slab=true
yellow_hardened_clay_slab=true
lime_hardened_clay_slab=true
pink_hardened_clay_slab=true
gray_hardened_clay_slab=true
light_gray_hardened_clay_slab=true
cyan_hardened_clay_slab=true
purple_hardened_clay_slab=true
blue_hardened_clay_slab=true
brown_hardened_clay_slab=true
green_hardened_clay_slab=true
red_hardened_clay_slab=true
black_hardened_clay_slab=true
acacia_wood_slab=true
dark_oak_wood_slab=true
acacia_leaves_slab=true
dark_oak_leaves_slab=true
slime_slab=true
prismarine_slab=true
prismarine_brick_slab=true
dark_prismarine_slab=true
sea_lantern_slab=true
hay_bale_slab=true
terracotta_slab=true
coal_slab=true
packed_ice_slab=true
red_sandstone_slab=true
red_chiseled_sandstone_slab=true
red_smooth_sandstone_slab=true
purpur_slab=true
purpur_pillar_slab=true
end_brick_slab=true
grass_path_slab=true
magma_slab=true
nether_wart_slab=true
red_nether_brick_slab=true
bone_slab=true
white_concrete_slab=true
orange_concrete_slab=true
magenta_concrete_slab=true
light_blue_concrete_slab=true
yellow_concrete_slab=true
lime_concrete_slab=true
pink_concrete_slab=true
gray_concrete_slab=true
light_gray_concrete_slab=true
cyan_concrete_slab=true
purple_concrete_slab=true
blue_concrete_slab=true
brown_concrete_slab=true
green_concrete_slab=true
red_concrete_slab=true
black_concrete_slab=true
white_concrete_powder_slab=true
orange_concrete_powder_slab=true
magenta_concrete_powder_slab=true
light_blue_concrete_powder_slab=true
yellow_concrete_powder_slab=true
lime_concrete_powder_slab=true
pink_concrete_powder_slab=true
gray_concrete_powder_slab=true
light_gray_concrete_powder_slab=true
cyan_concrete_powder_slab=true
purple_concrete_powder_slab=true
blue_concrete_powder_slab=true
brown_concrete_powder_slab=true
green_concrete_powder_slab=true
red_concrete_powder_slab=true
black_concrete_powder_slab=true

#Mod rules
allow_grass_slab_life_under_full_block=false
allow_grass_slab_spreading=true
allow_mycelium_slab_life_under_full_block=false
allow_mycelium_slab_spreading=true
allow_flora_growth_on_dirt_slab=true
allow_advanced_snowy_grass_slab_textures=true
allow_ghost_block_projection=true
